.ellipsis-multi {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* or 2, or whatever you need */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: calc(1.4em * 5); /* line-height × number of lines */
  }

  .ellipsis-multi-title {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* or 2, or whatever you need */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: calc(1.4em * 3); /* line-height × number of lines */
  }
  